<!-- JavaScript Libraries -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="../../../assets/lib/wow/wow.min.js"></script>
<script src="../../../assets/lib/easing/easing.min.js"></script>
<script src="node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="node_modules/owl.carousel/dist/assets/owl.carousel.min.css"></script> -->

<!-- Template Javascript -->
<!-- <script src="../../../assets/js/main.js"></script> -->

<!-- <nav>
  <a routerLink="/acceuil" routerLinkActive="active" ngLink> Home </a>

  <a routerLink="/carte" routerLinkActive="active" class="btn btn-link">
    La carte
  </a>

  <a routerLink="/nous" routerLinkActive="active" class="btn btn-link">
    Nous
  </a>
  <a routerLink="/panier" routerLinkActive="active" class="btn btn-link">
    Panier
  </a>
  <a routerLink="/compte" routerLinkActive="active" class="btn btn-link">
    Compte
  </a>

  <a routerLink="/planning" routerLinkActive="active" class="btn btn-link">
    Planning
  </a>
  <a routerLink="/gestionP" routerLinkActive="active" class="btn btn-link">
    GP
  </a>

  <a routerLink="/commande" routerLinkActive="active" class="btn btn-link">
    Commande
  </a>
  <a
    *ngIf="!logged"
    routerLink="/inscription"
    routerLinkActive="active"
    class="btn btn-link"
  >
    Inscription
  </a>
  <a
    *ngIf="!logged"
    routerLink="/connexion"
    routerLinkActive="active"
    class="btn btn-link"
    >Login</a
  >
  <p align="right">
    <span *ngIf="logged"
      >Bonjour {{ utilisateur?.prenom }}
      <button (click)="logout()" class="btn btn-link">Deconnexion</button>
    </span>
  </p>
</nav> -->

<!-- Navbar Start -->
<div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
  <nav
    class="navbar navbar-expand-lg py-lg-0 px-lg-5 wow fadeIn"
    data-wow-delay="0.1s"
    appScroll
  >
    <a
      routerLink="/acceuil"
      routerLinkActive="active"
      class="navbar-brand ms-4 ms-lg-0"
    >
      <img src="assets/img/logo.png" width="90px" />
    </a>
    <button
      type="button"
      class="navbar-toggler me-4"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a
          routerLink="/acceuil"
          routerLinkActive="active"
          class="nav-item nav-link"
          [style.color]="color"
          >Acceuil</a
        >
        <a
          [style.color]="color"
          routerLink="/nous"
          routerLinkActive="active"
          class="nav-item nav-link"
        >
          Nous</a
        >
        <a
          [style.color]="color"
          routerLink="/carte"
          routerLinkActive="active"
          class="nav-item nav-link"
          >Carte</a
        >
      </div>

      <div class="d-none d-lg-flex ms-2">
        <div class="nav-item dropdown">
          <a class="btn-sm-square bg-white rounded-circle ms-3">
            <img src="assets/img/user_icon.png" width="24px" />
          </a>

          <div class="dropdown-menu">
            <span *ngIf="logged" style="font-size: smaller">
              Bonjour {{ utilisateur?.prenom }} !</span
            >
            <a
              *ngIf="!logged"
              routerLink="/connexion"
              routerLinkActive="active"
              class="dropdown-item"
              >Connexion</a
            >

            <a routerLink="/panier" class="dropdown-item"> Panier</a>

            <a *ngIf="logged" routerLink="/commande" class="dropdown-item">
              Commande</a
            >

            <a *ngIf="logged" routerLink="/compte" class="dropdown-item">
              Compte</a
            >
            <a
              *ngIf="logged"
              routerLink="/acceuil"
              class="dropdown-item"
              (click)="logout()"
            >
              Deconnexion</a
            >
          </div>
        </div>
      </div>
      <div class="d-none d-lg-flex ms-2"></div>
    </div>
  </nav>
</div>
<!-- Navbar End -->
