/* CAROUSEL */
.carousel .carousel-item {
  height: 700px;
}

.carousel-content {
  text-align: center;
  margin-top: 60px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
}

/* GMAPS */
.mapouter {
  position: relative;
  text-align: right;
  height: 600px;
  width: 800px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 600px;
  width: 800px;
}
