<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>Contact</h4>
          <div class="contact_link_box">
            <a
              href="https://www.google.com/maps/place/1310+Av.+du+P%C3%A8re+Soulas,+34090+Montpellier,+France/@43.623195,3.854595,15z/data=!4m5!3m4!1s0x12b6aeef77a82159:0xc3d303b8f827ac5a!8m2!3d43.6231954!4d3.8545952?hl=fr-FR"
              target="_blank"
            >
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> 1310 Av. du Père Soulas</span>
            </a>
            <a href="tel:{{ tel }}">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> 04 68 55 40 10</span>
            </a>
            <a href="mailto:{{ monMail }}">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> contact@pizzayolo.com </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <h4>PizzaYolo</h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4>Ouvert</h4>
        <p>Tous les jours</p>
        <p>11:30 - 23:00</p>
      </div>
    </div>
    <div class="footer-info">
      <br />
      PizzaYolo &copy; 2022
      <br />
      <p>
        Pour votre santé, mangez au moins cinq fruits et légumes par jour
        WWW.MANGERBOUGER.FR
      </p>
    </div>
  </div>
</footer>
<!-- footer section -->
