<p>carte works!</p>
<h1>Nos Pizzas :</h1>
<table class="table">
  <tr *ngFor="let recette of recettes | async">
    <td>{{ recette.nom }}</td>
    <td>{{ recette.prixM }}</td>
    <td *ngFor="let ingredient of recette.listeIngre">
      <p>{{ ingredient.libelle }}</p>
    </td>
  </tr>
</table>

<h2>Nos Desserts :</h2>
<table class="table">
  <tr *ngFor="let dessert of desserts | async">
    <td>{{ dessert.nom }}</td>
    <td>
      {{ dessert.prix }}
    </td>
  </tr>
</table>

<h2>Nos boissons :</h2>
<table class="table">
  <tr *ngFor="let boisson of boissons | async">
    <td>{{ boisson.nom }}</td>
    <td>
      {{ boisson.prix }}
    </td>
  </tr>
</table>
