<br /><br /><br /><br /><br />
<link
  href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
  rel="stylesheet"
/>

<section class="u-clearfix u-grey-80 u-section-2">
  <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div
          class="u-container-style u-layout-cell u-shape-rectangle u-size-36 u-layout-cell-1"
        >
          <div class="u-container-layout u-container-layout-1">
            <p align="justify" class="u-text u-text-1">
              Nous sommes rencontré dans le cadre de nos études et avons fait le
              constat que ce qui nous rendait tous heureux était de partager un
              moment en bonne compagnie autour d'un bon repas. Nous avons à
              coeur de proposer des pizzas cuisinées de maniere artisanales (car
              rien ne remplace le feu de bois) avec des ingrédients de qualité.
              Notre restaurant est à notre image un endroit chaleureux et
              amical. Mais si vous voulez vraiment comprendre
              <strong>PizzaYolo</strong> Venez faire un tour on vous attend !
            </p>
          </div>
        </div>

        <div
          class="u-align-left u-container-style u-image u-layout-cell u-shape-rectangle u-size-24 u-image-1"
          data-image-width="1103"
          data-image-height="1500"
        >
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="u-container-style u-group u-group-1"
    style="background-color: #256f3a"
  >
    <div
      class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-3"
    >
      <h6 class="u-text u-text-body-alt-color u-text-2">C'est quoi ?<br /></h6>
      <h2 class="u-text u-text-body-alt-color u-text-3">PizzaYolo</h2>
    </div>
  </div>
</section>

<br />
<br />
<br />
<h2 class="u-text u-text-3" style="color: #256f3a; text-align: center">
  <strong>Rejoins-nous :</strong>
</h2>
<section class="u-grey-80" style="height: 405x">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <div class="u-container-layout u-container-layout-1">
        <p align="justify" class="u-text u-text-1">
          Nous sommes en plein développement et recherchons des personnes
          dynamique et enthousiastes pour compléter notre équipe. Nous cherchons
          à renforcé notre équipe en cuisine, notre équipe en salle mais
          également notre effectif de livreur. Si l'aventure te tente envoi nous
          ton CV avec tes coordonnées qu'on puisse de recontacter et
          éventuellement passer un entretient avec l'ensemble de notre équipe
          autour d'une pizza !
        </p>
      </div>
    </div>
    <div class="col-4">
      <img
        src="../../../assets/img/recrutement.png"
        style="object-fit: contain; float: right"
      />
    </div>
  </div>
</section>

<br />

<section>
  <div class="py-5 team4">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-7 text-center">
          <h2 class="mb-3 u-text u-text-3"><strong>Notre équipe</strong></h2>
        </div>
      </div>
      <div class="row">
        <!-- column  -->
        <div class="col mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img
                src="../../../assets/img/hamza.jpg"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Hamza</h5>
                <p>Je m'appelle Hamza.</p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img
                src="../../../assets/img/laura.jpg"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Laura</h5>

                <p>
                  Ma pizza préférée la Hawaiienne ! Je suis audacieuse et j'aime
                  casser les codes.
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img
                src="../../../assets/img/khadidja.jpg"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Khadidja</h5>

                <p>
                  Ma pizza favorite est la Primavera car elle me fait pensé à
                  mon sud natale avec tous ces légumes gorgée de soleil.
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img
                src="../../../assets/img/joe.jpg"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Joe</h5>

                <p>
                  Rien ne vaut une pizza quatres fromages avant une grosse
                  sieste !
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img
                src="../../../assets/img/olivier.jpg"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Olivier</h5>

                <p>
                  Fort de 10 ans d'expérience à Naples temple de la pizza et de
                  la gastronomie italienne Olivier nous a rejoint et nous permet
                  de garantir l'excellence de nos pizzas.
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
    </div>
  </div>
</section>
