<app-navbar></app-navbar> <br /><br /><br /><br /><br />
<link
  href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
  rel="stylesheet"
/>

<section class="u-clearfix u-grey-80 u-section-2">
  <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div
          class="u-container-style u-layout-cell u-shape-rectangle u-size-36 u-layout-cell-1"
        >
          <div class="u-container-layout u-container-layout-1">
            <p align="justify" class="u-text u-text-1">
              Nous sommes rencontré dans le cadre de nos études et avons fait le
              constat que ce qui nous rendait tous heureux était de partager un
              moment en bonne compagnie autour d'un bon repas. Nous avons à
              coeur de proposer des pizzas cuisinées de maniere artisanales (car
              rien ne remplace le feu de bois) avec des ingrédients de qualité.
              Notre restaurant est à notre image un endroit chaleureux et
              amical. Mais si vous voulez vraiment comprendre
              <strong>PizzaYolo</strong> Venez faire un tour on vous attend !
            </p>
          </div>
        </div>

        <div
          class="u-align-left u-container-style u-image u-layout-cell u-shape-rectangle u-size-24 u-image-1"
          data-image-width="1103"
          data-image-height="1500"
        >
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="u-container-style u-group u-group-1"
    style="background-color: #256f3a"
  >
    <div
      class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-3"
    >
      <h6 class="u-text u-text-body-alt-color u-text-2">C'est quoi ?<br /></h6>
      <h2 class="u-text u-text-body-alt-color u-text-3">PizzaYolo</h2>
    </div>
  </div>
</section>

<br />
<br />
<br />

Rejoins-nous :
<br />
Nous somme en plein développement et recherchons des personnes dynamique et
enthousiastes pour compléter notre équipe. Nous cherchons à renforcé notre
équipe en cuisine, notre équipe en salle mais également notre effectif de
livreur. Si l'aventure te tente envoi nous ton CV avec tes coordonnées qu'on
puisse de recontacter et éventuellement passer un entretient avec l'ensemble de
notre équipe autour d'une pizza !

<br />
<br />
<br />
Notre équipe :
<br />
image +Joe : image +Hamza : image+Khadidja : Ma pizza favorite est la Primavera
car elle me fait pensé à mon sud natale avec tous ces légumes gorgée de soleil .
image+Laura : "Ma pizza préférée l'Hawaiienne ! Je suis audacieuse et j'aime
casser les codes ! Olivier : "fort de 10 ans d'expériance à Naple temple de la
pizza et de la gastronomie italienne Olivier nous à rejoins et nous permet de
garantir l'excellence de nos pizzas

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
